/* .body-ul-li {
	display: flex;
	flex-wrap: wrap;
} */
.message-form {
	display: flex;
	flex-direction: column;
}
.message-form-outer {
	display: flex;
	justify-content: space-around;
}
.message-form {
	/* display: flex; */
	justify-content: center;
	align-items: left;
	flex-direction: column;
	font-weight: bold;
	display: grid;
	grid-template-columns: 2fr 5fr;
}
.message-form > * {
	margin: 5px;
	border-radius: 10px;
}

.form-sub {
	display: flex;
	flex-direction: column;
}

.form-labels {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.form-element {
	margin: 10px 0;
}

/* .message-form > label:hover {
	cursor: pointer;
	color: #fff;
} */

.form-inputs > input {
	border-radius: 15px;
	height: 15px;
	padding: 15px;
}

.form-inputs > textarea {
	font-size: 16px;
	border-radius: 8px;
}

.form-submit {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	align-items: center;
}

.submit-btn {
	width: 10vw;
	height: 30px;
	border-radius: 15px;
}

@media screen and (max-width: 950px) {
	.submit-btn {
		width: 15vw;
	}
}

.form-footer {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	align-items: end;
}
