:root {
	--font-primary: whitesmoke;
	--font-secondary: black;
	/* --- */
	--bg-primary: whitesmoke;
	--bg-secondary: rgba(126, 126, 126, 1);
	--bg-secondary1: rgba(126, 126, 126, 0.1);
	--bg-secondary2: rgba(126, 126, 126, 0.2);
	--bg-secondary4: rgba(126, 126, 126, 0.4);
	--bg-tertiary: rgb(20, 20, 20);
	--bg-tertiary2: rgba(20, 20, 20, 0.2);
	--bg-tertiary9: rgba(20, 20, 20, 0.9);
	--bg-dark: black;
	--bg-dark2: rgba(0, 0, 0, 0.2);
	/* --- */
	--border-primary: whitesmoke;
	--border-primary1: rgba(245, 245, 245, 0.1);
	--border-primary5: rgba(245, 245, 245, 0.2);
	--border-primary8: rgba(245, 245, 245, 0.8);
	--border-secondary: black;
	/* --- */
	--sup-primary: yellow;
}

body {
	color: var(--font-primary);
}
a {
	color: var(--font-primary);
}
a:hover {
	color: var(--font-secondary);
	background-color: var(--bg-primary);
}

.blur-1 {
	backdrop-filter: blur(1px);
}
.blur-4 {
	backdrop-filter: blur(4px);
}

.font-small {
	font-weight: 400;
	font-size: small;
}

.invisible-link {
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
}

a.ext-link-header {
	background-color: var(--bg-secondary2);
}

.ext-link-header:hover {
	background-color: var(--bg-primary);
}

.ext-link-header img {
	border: 0.5px solid var(--bg-secondary1);
}

a.ext-link-header {
	border: 1px solid var(--border-primary1);
}

.li-text > h3 > sup {
	color: var(--sup-primary);
}

.home-section {
	background-color: var(--bg-tertiary2);
	border: solid 1px var(--border-primary1);
}

.section-img,
.section-text {
	border: 1px solid var(--border-primary1);
}
@media screen and (max-width: 950px) {
	.menu-btn img {
		background-color: var(--bg-secondary4);
		border: 1px solid var(--border-primary1);
	}

	.menu-btn img:hover {
		background-color: var(--bg-primary);
	}

	#menu-bar ul li {
		border-bottom: 1px solid var(--bg-primary);
	}
}

/* ------------------------------------------------------------------------------------ */
/* For testing purposes */

/* #social-links-abs {
	background-color: red;
}

#social-links-rel {
	background-color: green;
} */

/* --------------------------------------- */
input,
textarea {
	color: var(--font-secondary);
	background-color: var(--bg-secondary2);
	border: 1px solid var(--border-primary1);
	font-size: 15px;
	padding: 4px;
}

.submit-btn {
	color: var(--font-primary);
	font-weight: bold;
}

.submit-btn:hover {
	color: var(--font-secondary);
	cursor: pointer;
}

input:hover,
textarea:hover {
	background-color: var(--bg-primary);
}

button {
	color: var(--font-primary);
}

body {
	background-image: url('../images/Background/StarSky.png');
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: var(--bg-tertiary);
}

#go-to-top > button {
	/* background-color: var(--bg-secondary4); */
	color: var(--font-primary);
	backdrop-filter: blur(10px);
	background-color: var(--bg-secondary1);
	border: 1px solid var(--border-primary1);
}
#go-to-top > button:hover {
	background-color: var(--bg-primary);
	color: var(--font-secondary);
}

header {
	border-bottom: 1px solid var(--border-primary1);
}

#alert-bar {
	background-color: var(--bg-secondary2);
}

#leftCover,
#rightCover,
#menu-bar {
	border-bottom: 1px solid var(--border-primary1);
}

.edge-covers,
#menu-bar {
	background-color: var(--bg-dark2);
}

#dropdown-content {
	background-color: var(--bg-tertiary9);
	border: 2px solid var(--border-primary);
}

#dropdown-content a {
	border-bottom: 1px solid var(--border-primary);
}

/* #dropdown-content a:hover {
	color: var(--font-secondary);
} */

.active-tab {
	color: var(--font-secondary);
	background-color: var(--bg-primary);
}

#key-abouts {
	border-left: 1px solid var(--border-primary1);
}

#profile-pic img {
	border: 2px solid var(--border-primary5);
}

span.social-links {
	background-color: var(--bg-tertiary2);
	border: 0.2px solid var(--border-primary1);
	display: flex;
}

#body {
	background: var(--bg-secondary1);
}

#body h1 {
	background-color: var(--bg-tertiary2);
	border: 1px solid var(--border-primary1);
}

.sub-heading {
	background-color: var(--bg-tertiary2);
	border: 1px solid var(--border-primary1);
}

#body li {
	background-color: var(--bg-tertiary2);
	border: 1px solid var(--border-primary1);
}

a.nav-links {
	background-color: var(--bg-tertiary2);
	border: 1px solid var(--border-primary1);
}

a.nav-links:hover {
	color: var(--font-secondary);
	background-color: var(--bg-primary);
}

a.ext-link {
	background-color: var(--bg-secondary1);
	border: 1px solid var(--border-primary1);
}

a.ext-link:hover {
	color: var(--font-secondary);
	background-color: var(--bg-primary);
}

a.ext-link h3 {
	border-left: 2px solid var(--border-primary1);
}

a.inactive-ext-link {
	background-color: var(--bg-secondary);
}

a.inactive-ext-link:hover {
	background-color: var(--bg-secondary);
}

footer {
	border-top: 1px solid var(--border-primary1);
	background-color: var(--bg-tertiary2);
}

#quick-links {
	border: 1px solid var(--border-primary1);
	border-radius: 10px;
}

.footer-text {
	font-size: smaller;
}
