.blur-1 {
	backdrop-filter: blur(1px);
}
.blur-2 {
	backdrop-filter: blur(2px);
}

#alert-bar {
	background-color: rgba(234, 245, 250, 0.5);
}

#alert-bar marquee {
	color: whitesmoke;
}

body {
	background-image: url('../images/Background/StarSky.png');
	backdrop-filter: grayscale(0%);
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: rgba(52, 52, 52, 1);
}

header {
	border-bottom: 1px solid  rgba(211, 218, 221, 0.595);
}

#menu-bar-outer {
  /* @media screen and (min-width: 951px){
    background-color: rgba(52, 52, 52, 0.4);
  } */
}

.edge-covers,
#menu-bar {
	background-color: rgba(1, 1, 2, 0.3);
}

#menu-bar ul li a {
	color: #f7fff7;
}

#menu-bar ul li a:hover {
	background-color: rgba(247, 255, 247, 0.7);
	color: black;
}

#dropdown-content {
	background-color: rgba(35, 35, 35, 0.9);
	border: 2px solid white;
}
.active-tab {
	color: black !important;
	background-color: #f7fff7 !important;
}

#profile-pic img {
	border: 2px solid white;
}

span.social-links {
	background-color: rgba(36, 37, 37, 0.6);
}

#body {
	background: rgba(55, 55, 55, 0.3);
	color: whitesmoke;
}

#body h1 {
  color: whitesmoke;
	background-color: rgba(220, 220, 220, 0.1);
  border: 1px solid rgba(211, 218, 221, 0.595);
}

#body h2 {
	background-color: rgba(225, 225, 225, 0.2);
	color: whitesmoke;
	border: 1px solid rgba(211, 218, 221, 0.595);
}

#body li {
	background-color: rgba(52, 52, 52, 0.2);
	border: 1px solid rgba(211, 218, 221, 0.595);
}

.li-img {
	color: #8f908f;
}

a.nav-links {
	color: whitesmoke;
	background-color: rgba(201, 201, 201,.3);
  border: 1px solid rgba(211, 218, 221, 0.595);
}

a.nav-links:hover {
	color: black;
	background-color: white;
}

span.social-links {
	border: 0.2px solid rgba(211, 218, 221, 0.8);
}

a.ext-link-header {
	border: 1px solid rgba(211, 218, 221, 0.595);
}

a.ext-link:hover {
	color: black;
	background-color: white;
}

a.ext-link {
  color: whitesmoke;
	background-color: rgba(209, 208, 208,.3);
  border: 1px solid rgba(211, 218, 221, 0.3);
}

a.ext-link h3 {
  border-left: 2px solid rgba(226, 226, 226, 0.6);
  
}

/* a.ext-link:hover a.ext-link>h3
{
  border-left: 2px solid black;
} */

a.inactive-ext-link {
	background-color: gray;
}

a.inactive-ext-link:hover {
	background-color: gray;
}

.go-to-top-outer a {
	color: black;
	background-color: rgba(218, 218, 218, 0.5);
	border: 1.5px solid black;
}

.go-to-top-outer a:hover {
	color: black;
	background-color: white;
}

footer {
  border-top: 1px solid rgba(211, 218, 221, 0.595);
	background-color: rgba(37, 37, 37, 0.01);
	color: whitesmoke;
}

#quick-links {
	border: 1px solid rgba(211, 218, 221, 0.595);
  border-radius: 10px;
}

footer ul li a {
	color: #f7fff7;
}

footer ul li a:hover {
	color: black;
	background-color: #d3d3d3;
}
.footer-text {
	font-size: smaller;
	color: white;
}
