/*started on 10th August, 2022
----------------------------------------------------------------------------------------------- */

header{
  background-size: 100vw;
}
.edge-covers {
  width: 5vw;
  height: 50px;
  /* display:flex; */
}
#leftCover{
    border-bottom-left-radius: 90%;
    border-bottom: 1px solid white;
}
#rightCover{
    border-bottom-right-radius: 90%;
    border-bottom: 1px solid white;
}
#menu-bar {
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}


#menu-bar ul li{
  display: inline;
}
#menu-bar ul li a.outer-nav-a{
  border-radius: 10px 10px 0 0;
  /* border-bottom: 0; */
  padding: 1vh 4vw 6px;
  margin-top: 50px;
}

/* TODO to set position of hover menu below  */
/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */


/* Links inside the dropdown */
#dropdown-content a {
  text-align: center;
  border-radius: 0px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border-bottom: 1px solid white;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  background-color: rgba(247, 255, 247,.5);
  color: #343434;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
  display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */



/* ---------------------------------------------------------------------------------------------- */

#profile-pic {
  border-right: 1px solid rgba(164, 164, 164, 0.1);
  width: 40%;
  height: 35vh;
  padding-top: 1vw;
  padding-right: 1%;
  justify-content: center;
}

#profile-pic img {
  height: 30vh;
  /* padding: 2vh; */
  margin: 2vh;
  float: right;
}

#key-abouts {
  border-left: 1px solid rgba(164, 164, 164, 0.1);
  width: 60%;
  height: 35vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.inner-key-abouts2 {
  padding: 0 2vw;
}
.inner-key-abouts .inner-key-abouts2{
  float: left;
}
.inner-key-abouts h1 {
  margin-top: 1vh;
}
.inner-key-abouts h2 {
  margin-bottom: 0;
}


span.social-links{
  margin-left: 20px;
  padding: 1px 4px;
  padding-top: 4px;
  background-color: rgba(36, 37, 37, 0.6);
  border-radius: 20px;
  width: fit-content;
  align-items: center;
  justify-content:center;
}
a.ext-link-header{
  display: inline-block;
  height: 28px;
  /* padding: 5px; */
  background-color: rgba(81, 81, 81, 0.3);
  border-radius: 20px;
  text-decoration: none;
  align-items: center;
  justify-content:center;
  /* margin-bottom: 5px; */
}
.ext-link-header:hover{
  background-color: #f7fff7;
}
.ext-link-header img{
  height: 20px;
  border-radius: 50%;
  border: .5px solid rgba(228, 226, 226,.2);
  padding: 4px;
  align-items: center;
  justify-content:center;
}

#faceIntro{
  height: 100vh;
  /* background-color: #ffe66d; */
}
.faceIntro-inner{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.faceIntro-inner .posterTitle{
  color: #343434;
  width: 60vw;
  margin: auto;
  /* justify-content: center; */
  text-align: left;
}
.posterTitle{
  font-size: 1cm;
}
.posterTitle h1{
  padding: 0;
  margin: 0;
  padding-left: 12vw;

}
.faceIntro-inner img{
  height: 100vh;
}

/* --------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------- */
