/* Stylesheet for desktop view */
/*started on 10th August, 2022 */

/* ----------------------------------------------------------------------------------------------- */
header {
  background-size: 100vw;
}
.menu-bar-outer {
  display: flex;
}
.menu-btn {
  display: none;
}
.edge-covers {
  width: 5vw;
  height: 50px;
}
#leftCover {
  border-bottom-left-radius: 90%;
  border-bottom: 1px solid white;
}
#rightCover {
  border-bottom-right-radius: 90%;
  border-bottom: 1px solid white;
}
#menu-bar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

#menu-bar ul li {
  display: inline;
}
#menu-bar ul li a.outer-nav-a {
  border-radius: 10px 10px 0 0;
  padding: 1vh 4vw 6px;
  margin-top: 50px;
}

/* Links inside the dropdown */
#dropdown-content a {
  text-align: center;
  color: white;
  padding: 8px;
  border-bottom: 1px solid white;
  text-decoration: none;
  display: block;
}
#dropdown-content a:last-child {
  border-bottom: 0px;
  border-radius: 0 0 8px 8px;
}
/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  background-color: rgba(247, 255, 247, 0.5);
  color: #343434;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
  display: inline-block;
  position: absolute;
  top: 80px;
  border-radius: 0 0 10px 10px;
  border-top: 0px;
}

/* ---------------------------------------------------------------------------------------------- */

#profile-pic {
  border-right: 1px solid rgba(164, 164, 164, 0.1);
  width: 40%;
  height: 35vh;
  padding-top: 1vw;
  padding-right: 1%;
  justify-content: center;
}

#profile-pic img {
  height: 30vh;
  margin: 2vh;
  float: right;
}

#key-abouts {
  border-left: 1px solid rgba(164, 164, 164, 0.1);
  width: 60%;
  height: 35vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.inner-key-abouts .inner-key-abouts2 {
  float: left;
}
.inner-key-abouts h1 {
  margin-top: 1vh;
}
.inner-key-abouts h2 {
  margin-bottom: 0;
}
.inner-key-abouts2 {
  padding: 0 2vw;
}
/* @media (max-width: 550px) {
  .current-positions{
    display: none;
  }
} */

span.social-links {
  margin-left: 20px;
  padding: 1px 4px;
  padding-top: 4px;
  border-radius: 20px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
a.ext-link-header {
  display: inline-block;
  height: 28px;
  background-color: rgba(81, 81, 81, 0.3);
  border-radius: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.ext-link-header img {
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid rgba(247, 242, 242, 0.001);
  padding: 4px;
  align-items: center;
  justify-content: center;
}

#social-links-abs{
  display: none;
}

#faceIntro {
  height: 100vh;
}
.faceIntro-inner {
  display: flex;
  justify-content: space-between;
}
.faceIntro-inner .posterTitle {
  color: #343434;
  width: 60vw;
  margin: auto;
  text-align: left;
}
.posterTitle {
  font-size: 1cm;
}
.posterTitle h1 {
  padding: 0;
  margin: 0;
  padding-left: 12vw;
}
.faceIntro-inner img {
  height: 100vh;
}

.nav-sub-pane {
  display: flex;
  justify-content: space-between;
}

/* --------------------------------------------------------------------------------------------- */
