/* General stylesheet */
/*
  TODO go to top btn not showing wrt viewport
  TODO resolve star selector related issues
*/

/* Background colors and images, themes */
@import url(./dark_bright_black_theme.css);
/* External fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

* {
	/* TODO when uncommenting below lines, website has some glitches */
	/* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Code Pro', monospace;
	box-sizing: border-box;
}

a:hover {
	cursor: pointer;
	transition: 0.2s;
}
.inactive-link {
	pointer-events: none;
}

/* ----------------------------------------------------- */

#alert-bar {
	height: 30px;
	padding: 0;
	margin: 0;
}

#alert-bar marquee {
	padding: 5px;
}

/* ----------------------------------------------------- */

header {
	margin: 0px;
	justify-content: center;
}

#menu-bar-outer {
	display: flex;
	justify-content: space-around;
	width: 0;
}

#menu-bar {
	margin: 0;
	padding: 0;
	width: 90vw;
	font-size: 110%;
	font-weight: 600;
}

#menu-bar ul li a {
	cursor: pointer;
	font-size: larger;
	text-decoration: none;
}

#menu-bar ul {
	list-style-type: none;
}

#dropdown-content {
	z-index: 100;
	border-radius: 10px;
	display: none;
	position: absolute;
	left: 40vw;
	top: 75px;
}

/* .active-tab {
	background-color: #f7fff7;
	color: black;
} */

/* ----------------------------------------------------- */

#main-header {
	display: flex;
}

#profile-pic {
	overflow: hidden;
}

#profile-pic img {
	border-radius: 50%;
}

#key-abouts {
	padding-left: 1%;
	overflow: hidden;
}

.inner-key-abouts {
	padding: 0 2vw;
}

span.social-links {
	backdrop-filter: blur(1px);
	opacity: 0.7;
}

span.social-links:hover {
	opacity: 1;
	cursor: pointer;
}

a.ext-link-header {
	backdrop-filter: blur(2px);
}

.ext-link-header:hover {
	/* background-color: #f7fff7; */
	opacity: 1;
}

#body {
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 30vh;
}

span.body-sections {
	margin: 0;
	padding: 0;
}

span.body-sections ul {
	margin: 0;
	padding: 0;
}

#body h1 {
	margin: 30px;
	margin-top: 0px;
	padding: 3px 0;
	text-align: center;
	border-radius: 25px;
}

#body span.body-sections {
	margin: 0px;
	padding: 0px;
}

#body h2 {
	padding: 5px 2vw 5px 7vw;
	display: inline-block;
	margin-top: 10px;
	border-radius: 0 20px 20px 0;
	border-left: 0px;
}

#body ul {
	padding: 0;
	margin: 5vw;
	margin-top: 1vw;
}

#body li {
	display: flex;
	padding: 3vw;
	margin: 2.5vw 0;
	border-radius: 10px;
	list-style-type: none;
}

.li-img {
	padding-right: 20px;
	padding-top: 5px;
	width: 160px;
}

.li-img img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.li-text {
	width: 75vw;
}

.li-text.h3 {
	padding-top: 5px;
	margin-top: 4px;
}

.nav-sub-pane {
	display: block;
	align-content: center;
	padding-bottom: 10px;
}

a.nav-links {
	display: inline-block;
	width: max-content;
	overflow: hidden;
	text-decoration: none;
	font-weight: bolder;
	padding: 2px 10px;
	margin: 10px;
	border-radius: 30px;
	display: flex;
	text-align: center;
}

a.nav-links p {
	margin: 0;
	padding: 0;
}

a.ext-link-header {
	border-style: ridge;
}

a.ext-link img {
	height: 20px;
	padding: 5px;
	border-radius: 50%;
}

a.ext-link h3 {
	font-size: 18px;
	padding: 4px 5px;
	padding-right: 10px;
	margin: 0;
}

a.ext-link {
	display: flex;
	display: inline-flex;
	height: 30px;
	overflow: hidden;

	text-decoration: none;
	margin: 10px;
	padding: 2px;
	border-radius: 30px;
}

a.ext-link-inline {
	text-decoration: none;
	/* color: black; */
	font-weight: bold;
	/* background-color: rgba(252, 252, 252, 0.4); */
	padding: 5px;
	border-radius: 7px;
}
/* ----------------------------------------------------------------------------------------------- */

footer {
	margin: 0px;
	padding: 2%;
	padding-bottom: 1%;
}

#quick-links {
	padding: 10px;
}

footer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 0px;
}

@media (min-width: 875px) {
	footer ul {
		flex-direction: row;
	}
}

footer ul li {
	list-style: none;
	padding: 10px 0;
	margin: 1px 20px;
}
