*{
    /* overflow-wrap: break-word; */
}
.home-window{
    margin: .5vw 5vw;
    /* background-color: red; */
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.home-section{
    background-color: rgba(216, 216, 216,.3);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2vw;
    padding-top: 2vh;
    padding: 3vw;
    margin-top: 2vh;
    border-radius: 3vw;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.section-img, .section-text{
    background-color: rgba(147, 147, 147,.5);
    /* margin: 2vw; */
    min-height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    border: 1px solid black;
    /* overflow: scroll; */
    /* width: 35vw; */
}

/* Smartphone CSS */
@media screen and (max-width: 950px) {
.home-window{
    margin: 2vw 8vw;
}
.home-section{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-img{
    max-width: 40vw;
    min-width: 30vw;
}

.section-text{
    width: 90%;
}

}