.home-window{
    margin: .5vw 5vw;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin-top: 0;
}

.home-section{
    display: flex;
    padding-top: 2vh;
    padding: 2vw;
    margin-top: 2vh;
    border-radius: 3vw;
    justify-content: center;
    align-items: center;
}

.section-inner{
    background-color: rgba(52, 52, 52, 0.1);
    /* min-height: 20vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 3vw;
}

.section-inner>h2{
    justify-content: center;
    width: 100%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

@media screen and (max-width: 950px) {
.home-window{
    margin: 2vw 8vw;
}

.section-text{
    width: 90%;
}

}